<ion-view view-title="Browse">
  <ion-content ng-controller="BrowseCtrl">
    <form name="ruleSearch">
      <div class="list">
        <div class="item item-input item-select">
          <div class="input-label">
            Category
          </div>
          <select ng-model="browse.category" ng-init="browse.category = 3" ng-change="categoryChanged(browse)">
            <option value="3">Handgun (January 2015 Edition)</option>
            <option value="4">Rifle (January 2015 Edition)</option>
            <option value="5">Mini-Rifle (January 2015 Edition)</option>
            <option value="6">Shotgun (January 2015 Edition)</option>
            <option value="7">Action Air (January 2015 Edition)</option>
          </select>
        </div>
      </div>
    </form>
    <ion-scroll zooming="false" direction="y" style="height: 88vh">
      <ion-list>
        <ion-item ng-repeat="rule in results" ng-href="#/app/details/{{rule.ID}}">
          <h2>{{rule.RULE_NUMBER}}</h2>
          <p>{{rule.RULE_TITLE_ENG}}</p>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>
