<ion-view view-title="Search">
  <ion-content scroll="false">
    <!--<h1>Search Rule</h1>-->
    <form name="ruleSearch">
      <div class="list">
        <div class="item item-input item-select">
          <div class="input-label">
            Select Category
          </div>
          <select ng-model="search.category" ng-init="search.category = 3">
            <option value="3">Handgun (January 2015 Edition)</option>
            <option value="4">Rifle (January 2012 Edition)</option>
            <option value="5">Mini-Rifle (January 2012 Edition)</option>
            <option value="6">Shotgun (January 2015 Edition)</option>
            <option value="7">Action Air (January 2015 Edition)</option>
          </select>
        </div>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Rule Number" ng-model="search.number" ng-change="searchNumber(search)">
        </label>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Keyword" ng-model="search.keyword" ng-change="searchKeyword(search)">
        </label>
      </div>
    </form>
    <ion-scroll zooming="false" direction="y" style="height: 100vh">
      <ion-list>
        <ion-item ng-repeat="result in results" ng-href="#/app/details/{{result.ID}}">
          <h2>{{result.RULE_NUMBER}} - {{result.RULE_TITLE_ENG}}</h2>
          <p>{{result.RULE_MEMO}}</p>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>
